@media (max-width: 767px) {
    .sidebar {
        width: 62px;
        padding: 10px;

    }

    .sidebar ul li a span {
        display: none;
    }

    .sidebar ul li a i {
        margin-top: 10px;
    }

    .sidebar>h3::before {
        width: 60px;
    }

    .sidebar>h3 {
        font-size: 13px;
        margin-bottom: 15px;
    }

    .wrapper {
        grid-template-columns: minmax(200px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10;
    }

    .welcome .intro {
        padding-bottom: 30px;

    }

    .welcome .avatar {
        margin-left: 0;
    }

    .welcome .body>div:not(:last-child) {
        margin-bottom: 20px;
    }

    .tickets .box {
        border: 1px solid #ccc;
        width: 100%;
    }

    .latest-news .news-row {
        display: block;
    }

    .latest-news .news-row .label {
        margin: 10px auto;
        width: fit-content;
    }

    .settings-page {
        grid-template-columns: minmax(100px, 1fr);
        margin-left: 10px;
        margin-right: 10px;
        gap: 10px;
    }

    .backup-control .servers {
        flex-wrap: wrap;
    }

}